.sonarmed-calculator {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  background-color: @white;
  @media only screen and (max-width: 768px) {
    padding: 70px 50px;
  }
  @media only screen and (max-width: 500px) {
    padding: 50px 25px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .banner {
    .flexbox();
    .flex-wrap(nowrap);
    .align-items(center);
    .justify-content(space-between);
    width: 100%;
    margin-bottom: 15px;
    height: 325px;
    @media only screen and (max-width: 500px) {
      .flex-wrap(wrap);
      height: auto;
      margin-bottom: 40px;
    }
  }

  .banner__copy {
    width: 50%;
    padding-right: 50px;
    @media only screen and (max-width: 500px) {
      padding-right: 0;
      width: 100%;
    }

    .title {
      font-size: 40px;
      font-weight: 600;
      color: @navy-blue;
      margin-bottom: 20px;
      @media only screen and (max-width: 768px) {
        font-size: 30px;
      }
    }

    .description {
      font-size: 16px;
      font-weight: 400;
      color: @medium-gray;
      margin-bottom: 20px;
    }

    .note {
      font-size: 16px;
      font-weight: 600;
      color: @medium-gray;
      margin-bottom: 0;
    }
  }

  .banner__image {
    width: 50%;
    height: 325px;
    @media only screen and (max-width: 500px) {
      display: none;
    }
  }

  .calculations {
    width: 100%;
    height: 700px;
    @media only screen and (max-width: 500px) {
      height: 625px;
    }
  }

  .calculations__title {
    font-size: 30px;
    font-weight: 600;
    color: @navy-blue;
    margin-bottom: 20px;
    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  p.disclaimer {
    font-size: 12px;
    color: @medium-gray;
    margin-bottom: 30px;
  }

  .form__row {
    .flexbox();
    .flex-wrap(nowrap);
    .justify-content(space-between);
    .align-items(center);
    margin-bottom: 30px;
  }

  .form {
    padding-right: 40px;
    @media only screen and (max-width: 768px) {
      padding-right: 0;
    }

    input {
      .kill-webkit();
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: @charcoal-gray;
      border: 1px solid @light-gray;
      border-radius: none;
      width: 230px;
      padding: 10px 15px;
      font-size: 20px;
      @media only screen and (max-width: 768px) {
        width: 165px;
        font-size: 18px;
      }
      @media only screen and (max-width: 500px) {
        width: 105px;
        font-size: 16px;
        padding: 7px 10px;
      }
    }

    ::placeholder {
      font-size: 20px;
      color: @light-gray;
      @media only screen and (max-width: 768px) {
        font-size: 18px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 16px;
      }
    }

    input:disabled {
      ::placeholder { color: @charcoal-gray; }
    }

    label {
      font-size: 20px;
      color: @charcoal-gray;
      @media only screen and (max-width: 768px) {
        font-size: 18px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 16px;
      }
    }
  }

  .input-with-icon {
    position: relative;
    width: 230px;
    @media only screen and (max-width: 768px) {
      width: 165px;
    }
    @media only screen and (max-width: 500px) {
      width: 105px;
    }
  }

  .input-with-icon--left {
    input {
      padding: 10px 15px 10px 25px;
      @media only screen and (max-width: 500px) {
        padding: 7px 10px 7px 20px;
      }
    }
  }

  .input-with-icon--right {
    input {
      padding: 10px 25px 10px 15px;
      @media only screen and (max-width: 500px) {
        padding: 7px 20px 7px 10px;
      }
    }
  }

  .percent-icon {
    position: absolute;
    font-size: 20px;
    color: @charcoal-gray;
    font-weight: 400;
    right: 10px;
    top: 10px;
    @media only screen and (max-width: 768px) {
      font-size: 18px;
    }
    @media only screen and (max-width: 500px) {
      font-size: 16px;
      top: 7px;
    }
  }

  .dollar-icon {
    position: absolute;
    font-size: 20px;
    color: @charcoal-gray;
    font-weight: 400;
    left: 10px;
    top: 10px;
    @media only screen and (max-width: 768px) {
      font-size: 18px;
    }
    @media only screen and (max-width: 500px) {
      font-size: 16px;
      top: 7px;
    }
  }

  .form__submit {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    @media only screen and (max-width: 768px) {
      margin-top: 60px;
    }
    @media only screen and (max-width: 500px) {
      margin-top: 50px;
    }
    input {
      .kill-webkit();
      .ease-bg();
      background-color: @cobalt-blue;
      color: @white;
      border: 0 none;
      border-radius: 0;
      font-size: 16px;
      text-transform: uppercase;
      width: 300px;
      padding: 25px 0;
      &:hover {
        cursor: pointer;
        background-color: @medium-blue;
      }
      @media only screen and (max-width: 500px) {
        width: 100%;
      }
    }
  }

  .results-container {
    width: 100%;
    margin: 0 auto;
    height: 750px;
    display: none;
    @media only screen and (max-width: 500px) {
      height: 600px;
    }
  }

  .results {
    padding: 15px 0px 0px 0px;
    text-align: center;
    @media only screen and (max-width: 500px) {
      padding: 15px 40px 0px 40px;
      margin: 0 auto;
    }
  }

  .results__title {
    font-size: 30px;
    color: #77BC1F;
    font-weight: 600;
    margin-bottom: 30px;
    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
    @media only screen and (max-width: 500px) {
      font-size: 22px;
    }
  }

  .results__savings {
    font-size: 60px;
    font-weight: 600;
    color: @navy-blue;
    margin-bottom: 30px;
    @media only screen and (max-width: 768px) {
      font-size: 55px;
    }
  }

  .results__disclaimer {
    font-size: 16px;
    font-weight: 400;
    color: @charcoal-gray;
    margin-bottom: 75px;
    @media only screen and (max-width: 768px) {
      margin-bottom: 55px;
    }
    @media only screen and (max-width: 500px) {
      margin-bottom: 45px;
    }
    span {
      font-weight: 600;
      font-style: italic;
    }
  }

  .results__button {
    .kill-webkit();
    .ease-bg();
    background-color: @cobalt-blue;
    color: @white;
    border: 0 none;
    border-radius: 0;
    font-size: 16px;
    text-transform: uppercase;
    width: 300px;
    padding: 25px 0;
    &:hover {
      cursor: pointer;
      background-color: @medium-blue;
    }
    @media only screen and (max-width: 500px) {
      width: 100%;
    }
  }

  .references {
    ol {
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      @media only screen and (max-width: 500px) {
        padding-inline-start: 15px;
      }
    }
    ol li {
      font-size: 14px;
      color: @charcoal-gray;
      font-weight: 400;
      margin-bottom: 12px;
    }
    p.disclaimer {
      font-size: 12px;
      color: @charcoal-gray;
      margin-top: 30px;
    }
  }

  .error{
    outline: 1px solid red;
  }

  .alert {
    display: none;
    color: red;
    margin-bottom: 15px;
  }
}
