.sonarmed-calculator {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator {
    padding: 70px 50px;
  }
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator {
    padding: 50px 25px;
  }
}
.sonarmed-calculator h1,
.sonarmed-calculator h2,
.sonarmed-calculator h3,
.sonarmed-calculator h4,
.sonarmed-calculator h5,
.sonarmed-calculator h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.sonarmed-calculator .banner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  height: 325px;
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .banner {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 40px;
  }
}
.sonarmed-calculator .banner__copy {
  width: 50%;
  padding-right: 50px;
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .banner__copy {
    padding-right: 0;
    width: 100%;
  }
}
.sonarmed-calculator .banner__copy .title {
  font-size: 40px;
  font-weight: 600;
  color: #001E46;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .banner__copy .title {
    font-size: 30px;
  }
}
.sonarmed-calculator .banner__copy .description {
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  margin-bottom: 20px;
}
.sonarmed-calculator .banner__copy .note {
  font-size: 16px;
  font-weight: 600;
  color: #707070;
  margin-bottom: 0;
}
.sonarmed-calculator .banner__image {
  width: 50%;
  height: 325px;
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .banner__image {
    display: none;
  }
}
.sonarmed-calculator .calculations {
  width: 100%;
  height: 700px;
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .calculations {
    height: 625px;
  }
}
.sonarmed-calculator .calculations__title {
  font-size: 30px;
  font-weight: 600;
  color: #001E46;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .calculations__title {
    font-size: 24px;
  }
}
.sonarmed-calculator p.disclaimer {
  font-size: 12px;
  color: #707070;
  margin-bottom: 30px;
}
.sonarmed-calculator .form__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 30px;
}
.sonarmed-calculator .form {
  padding-right: 40px;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .form {
    padding-right: 0;
  }
}
.sonarmed-calculator .form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #53565A;
  border: 1px solid #B1B3B3;
  border-radius: none;
  width: 230px;
  padding: 10px 15px;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .form input {
    width: 165px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .form input {
    width: 105px;
    font-size: 16px;
    padding: 7px 10px;
  }
}
.sonarmed-calculator .form ::placeholder {
  font-size: 20px;
  color: #B1B3B3;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .form ::placeholder {
    font-size: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .form ::placeholder {
    font-size: 16px;
  }
}
.sonarmed-calculator .form input:disabled ::placeholder {
  color: #53565A;
}
.sonarmed-calculator .form label {
  font-size: 20px;
  color: #53565A;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .form label {
    font-size: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .form label {
    font-size: 16px;
  }
}
.sonarmed-calculator .input-with-icon {
  position: relative;
  width: 230px;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .input-with-icon {
    width: 165px;
  }
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .input-with-icon {
    width: 105px;
  }
}
.sonarmed-calculator .input-with-icon--left input {
  padding: 10px 15px 10px 25px;
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .input-with-icon--left input {
    padding: 7px 10px 7px 20px;
  }
}
.sonarmed-calculator .input-with-icon--right input {
  padding: 10px 25px 10px 15px;
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .input-with-icon--right input {
    padding: 7px 20px 7px 10px;
  }
}
.sonarmed-calculator .percent-icon {
  position: absolute;
  font-size: 20px;
  color: #53565A;
  font-weight: 400;
  right: 10px;
  top: 10px;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .percent-icon {
    font-size: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .percent-icon {
    font-size: 16px;
    top: 7px;
  }
}
.sonarmed-calculator .dollar-icon {
  position: absolute;
  font-size: 20px;
  color: #53565A;
  font-weight: 400;
  left: 10px;
  top: 10px;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .dollar-icon {
    font-size: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .dollar-icon {
    font-size: 16px;
    top: 7px;
  }
}
.sonarmed-calculator .form__submit {
  width: 100%;
  text-align: center;
  margin-top: 80px;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .form__submit {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .form__submit {
    margin-top: 50px;
  }
}
.sonarmed-calculator .form__submit input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #0085CA;
  color: #FFFFFF;
  border: 0 none;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
  width: 300px;
  padding: 25px 0;
}
.sonarmed-calculator .form__submit input:hover {
  cursor: pointer;
  background-color: #00A9E0;
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .form__submit input {
    width: 100%;
  }
}
.sonarmed-calculator .results-container {
  width: 100%;
  margin: 0 auto;
  height: 750px;
  display: none;
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .results-container {
    height: 600px;
  }
}
.sonarmed-calculator .results {
  padding: 15px 0px 0px 0px;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .results {
    padding: 15px 40px 0px 40px;
    margin: 0 auto;
  }
}
.sonarmed-calculator .results__title {
  font-size: 30px;
  color: #77BC1F;
  font-weight: 600;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .results__title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .results__title {
    font-size: 22px;
  }
}
.sonarmed-calculator .results__savings {
  font-size: 60px;
  font-weight: 600;
  color: #001E46;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .results__savings {
    font-size: 55px;
  }
}
.sonarmed-calculator .results__disclaimer {
  font-size: 16px;
  font-weight: 400;
  color: #53565A;
  margin-bottom: 75px;
}
@media only screen and (max-width: 768px) {
  .sonarmed-calculator .results__disclaimer {
    margin-bottom: 55px;
  }
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .results__disclaimer {
    margin-bottom: 45px;
  }
}
.sonarmed-calculator .results__disclaimer span {
  font-weight: 600;
  font-style: italic;
}
.sonarmed-calculator .results__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #0085CA;
  color: #FFFFFF;
  border: 0 none;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
  width: 300px;
  padding: 25px 0;
}
.sonarmed-calculator .results__button:hover {
  cursor: pointer;
  background-color: #00A9E0;
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .results__button {
    width: 100%;
  }
}
.sonarmed-calculator .references ol {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media only screen and (max-width: 500px) {
  .sonarmed-calculator .references ol {
    padding-inline-start: 15px;
  }
}
.sonarmed-calculator .references ol li {
  font-size: 14px;
  color: #53565A;
  font-weight: 400;
  margin-bottom: 12px;
}
.sonarmed-calculator .references p.disclaimer {
  font-size: 12px;
  color: #53565A;
  margin-top: 30px;
}
.sonarmed-calculator .error {
  outline: 1px solid red;
}
.sonarmed-calculator .alert {
  display: none;
  color: red;
  margin-bottom: 15px;
}
