// COLORS
@white:             #FFFFFF;
@pale-gray:         #E8E8E7;
@light-gray:        #B1B3B3;
@medium-gray:       #707070;
@dark-gray:         #888B8D;
@blue-gray:         #5B7F95;
@charcoal-gray:     #53565A;

@light-blue:        #B9D9EB;
@sky-blue:          #71C5E8;
@medium-blue:       #00A9E0;
@cobalt-blue:       #0085CA;
@medtronic-blue:    #004B87;
@navy-blue:         #001E46;
